# S3 (for input images)
S3_BUCKET=your-bucket-name
S3_REGION=us-east-1
S3_ENDPOINT_URL=
DELETE_INPUT_AFTER_UPSCALE=false
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# Cloudflare Images (for output images)
CLOUDFLARE_ACCOUNT_ID=your-cloudflare-account-id
CLOUDFLARE_API_TOKEN=your-cloudflare-api-token

# Database
ENABLE_DATABASE=false
DATABASE_URL=postgresql+psycopg2://user:password@host:5432/dbname

# Models
MODEL_2X_PATH=/models/RealESRGAN_x2plus.pth
MODEL_4X_PATH=/models/RealESRGAN_x4plus.pth

# Webhook
WEBHOOK_CALLBACK_URL=https://your-domain.com/webhook
WEBHOOK_TIMEOUT_SECONDS=10
WEBHOOK_AUTH_TOKEN=your-secret-token

# Cloudflate Image Hosted
CLOUDFLARE_ACCOUNT_ID=cloudflare_image_id
CLOUDFLARE_API_TOKEN=cloudflare_api_token